@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  ;
  background: #0D0221;
  color: #fff;
  /* position: relative; */

}


a {
  text-decoration: none;
}

p {
  font-size: 2rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

/* Background Image */
.bg {
  display: flex;
  width: 500px;
  height: 500px;
  content: "";
  background-size: cover;
  background-image: url("../images/nav-bg-2.png");
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: .5;
  justify-content: center;
}

/* Header and Nav Menu */
header {
  width: 100%;
  height: 100vh;
  display: inline;
}

/* Header Styles */

h1,
h3,
h4,
h6 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 10rem;
}

h3 {
  font-size: 5rem;
}

h4,
h6 {
  font-size: 3rem;
}

/* Nav Menu */

.nav-icon {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  width: 100%;
  height: 100vh;
  top: -100vh;
  position: fixed;
  background-color: #190826;
  border-radius: 100%;
  transition: all 750ms ease-in-out;
  z-index: 1500;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 0 1 20%;
  font-size: 5rem;
}

.nav-link {
  width: 20%;
  font-weight: 700;
  padding: 2rem;
}

/* Nav Menu w/ JQuery */

.nav-menu.open {
  top: 0;
  border-radius: initial;
}

/* Hero Image */

.profile-image {
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
  background-image: url("../images/featured_image.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem;
}

/* Retro Fonts */

.retro {
  text-transform: uppercase;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'Righteous', cursive;
}

.windows .retro {
  -webkit-text-stroke: 4px #f1f1f1;
}

.retro-body,
.nav-link:hover,
.nav-link:focus {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  filter: drop-shadow(2px 2px 15px #3F59F4);
}

/* Container and Column / Row Alignments */

.container {
  display: block;
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%
}

.p-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-main {
  max-width: 100%;
}

.column-sec {
  flex: 0 0 50%;
  max-width: 40%;
}

.column-main,
.column-sec {
  padding: 2rem;
  justify-self: center;
  position: relative;
}

/* Aside - Float Left*/
.left {
  min-width: 30%;
  max-width: 30%;
  display: flex;
  justify-content: left;
  border-right: 5px solid ivory;
}

/* About Me CSS */

.about p {
  padding: 2rem;
}

/* Project Section CSS */

.main-project {
  justify-content: center;
  flex: 0 0 50%;
  max-width: 100%;
  padding: 2rem;
  position: relative;
}

.sec-project {
  display: flex;
  justify-content: center;
}

/* Image Text Block Styles */

.main-project .text-block {
  bottom: 20px;
  right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.column-sec .text-block {
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block {
  position: absolute;
  background-color: #0D0221;
  color: #fff;
  filter: drop-shadow(2px 2px 5px #3F59F4);
}

/* Project Images */

.main-project img,
.sec-project img {
  border: 5px solid;
  border-color: #fc459f;
  filter: drop-shadow(2px 2px 6px #fc459f);
}

.main-project img {
  max-width: 900px;
}

.sec-project img {
  max-width: 100%;
  display: flex;

}

/* Contact Me */

.contact {
  display: inline;
}

.contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.contact-links li {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 20%;
  padding: 2rem;
}

/* Footer CSS */

.to-top {
  border-top: 5px dotted ivory;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5%;
}

/* Font Awesome CSS */
.fa {
  display: inline-block;
  font: normal;
}

/* Controlled by JQuery for Menu Icon */

/* Show fa-bars and fa-minus-square depending on state
 * via Jquery 
*/

.fa-bars,
.fa-minus-square.open {
  display: inline-block;
  z-index: 1501;
}

.fa-minus-square.open {
  position: fixed;
}

/* Hide fa-bars and fa-minus-square depending on state
 * via Jquery
*/

.fa-bars.open,
.fa-minus-square {
  display: none;
  z-index: 1501;
}

.fa-bars,
.fa-minus-square {
  padding: 5rem;
}

.fa-bars::before,
.fa-minus-square::before {
  font-size: 5rem;
  padding-right: 10px;
}

/* Contact Me FA CSS */

.fa-phone::before,
.fa-envelope::before,
.fa-facebook-official::before,
.fa-github::before,
.fa-chevron-up::before {
  font-size: 5rem;
  padding-right: 10px;
  color: #fc459f;
  filter: drop-shadow(2px 2px 1px #fcd458);
  opacity: .8;
}

/* Mobile Responsive */

@media screen and (max-width: 1067px) {
  h4 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {

  .left {
    max-width: 30%;
  }

  .retro h4 {
    -webkit-text-fill-color: #fff;
  }

  h3 {
    font-size: 4rem;
    word-wrap: break-word;
  }

  h4 {
    font-size: 1.8rem;
  }

}

@media screen and (max-width: 786px) {

  h3 {
    font-size: 4rem;
    word-wrap: break-word;
  }

  h4 {
    font-size: 1.8rem;
  }

  .retro h4 {
    -webkit-text-fill-color: #fff;
  }

  .left {
    max-width: 30%;
  }

  .nav-list {
    font-size: 3rem;
  }

}

@media screen and (max-width: 690px) {

  .row {
    padding-left: 0%;
    flex-direction: column;
  }

  .left {
    float: none;
    max-width: 100%;
    flex-direction: column;
    border-right: 0px;
    border-bottom: 5px solid ivory;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 0 1 20%;
    font-size: 5rem;
  }

  .main-project .text-block,
  .column-sec .text-block,
  .text-block {
    visibility: hidden;
  }

}

@media screen and (max-width: 550px) {

  h1 {
    font-size: 8rem;
  }

}